.page {
  /* background-color: aqua; */
  display: flex;
  height: 92vh;
  width: 100vw;
  justify-content: center;
  overflow: scroll;
}

.left {
  /* background-color: green; */
  margin-left: 2%;
  margin-right: 2%;
  display: grid;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-items: center;
}

.right {
  /* background-color: red; */
  display: grid;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-items: center;
}

.linecontainer {
  display: grid;
  height: 100%;
  width: 1%;
  align-items: center;
  justify-items: center;
}

.line {
  border-left: 6px solid green;
  height: 70%;
}

@media screen and (min-width: 640px) and (max-width: 780px) {
  .left {
    display: none;
  }

  .right {
    /* background-color: red; */
    display: grid;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-items: center;
  }

  .linecontainer {
    display: grid;
    height: 100%;
    width: 1%;
    align-items: center;
    justify-items: center;
  }

  .line {
    border-left: 6px solid green;
    height: 70%;
  }
}

@media screen and (min-width: 200px) and (max-width: 640px) {
  .linecontainer {
    display: none;
  }

  .line {
    border-left: 6px solid green;
    height: 70%;
  }
  .left {
    display: none;
  }

  .right {
    /* background-color: red; */
    display: grid;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-items: center;
  }
}
